@model IEnumerable<SMS.WebApp.Models.Student>
@{
    int idNo = 1;

}


<a asp-action="CreateOrEdit" asp-controller="Student" class="btn btn-sm btn-secondary">Create Student</a>
<div class="container">
    <div class="row">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@idNo</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>
                            <a href="Student/CreateOrEdit/@item.Id" class=" btn btn-sm btn-success">Edit</a>
                            <a asp-action="Deatils" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a>
                            <a asp-action="Delete" asp-controller="Student" asp-route-id="@item.Id" onclick="return confirm('Are you Sure delete this Item ?')" class="btn btn-sm btn-danger">Delete</a>
                        </td>

                    </tr>
                    idNo++;
                }
            </tbody>
        </table>
    </div>

</div>